html{
    height: 100%;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 1em;
}

header{
    background-color: #D8DFE8;
    padding: 3% 3% 3% 3%;
}

.caja-principal{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-a{
    width: calc(2em + (8%))

}

h1{
    margin: 0;
    
}



.nav-menu{
    width: 50%;
    text-align: right;
}

.item-list{
    display: inline;
    margin: 0 15px 0 0 ;

}
a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    
}

a:hover{
    color: rgb(245, 174, 81);
    text-decoration: underline;
}

.caja-contenido{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caja-contenido1{
    width: 50%;
    

}

.texto-lable{
    display: block;
    margin: 1% 1% 1% 1%;
}

.texto-usuario{
    display: block;
    margin: 1% 1% 1% 1%;
}

.boton{
    margin: 1% 1% 1% 1%;
    display: inline-block;
    background-color: #162944;
    color: #fff;
    border-radius: 0.5em;
    padding: 0.3em 0.3em;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D80286;
    transition: 1s ease-out 1s;
}

.boton-encriptar:hover{
    box-shadow: inset 40em 5em 0 0 #D80286;
    
}

.boton-desencriptar:hover{
    box-shadow: inset 40em 5em 0 0 #D80286;
    
}

.caja-contenido2{
    width: 50%;
    border: solid #162944;
    border-width: 0.03em;
    margin: 1% 1% 0 0;
    border-radius: 0.3em;
    text-align: center;


}

.drawboy{
    width: calc(15em + (7%))
}

