html{
    height: 100%;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 1em;
}

header{
    background-color: #D8DFE8;
    padding: 3% 3% 3% 3%;
}

.caja-principal{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-a{
    width: calc(2em + (8%))

}

h1{
    margin: 0;
    
}



.nav-menu{
    width: 50%;
    text-align: right;
}

.item-list{
    display: inline;
    margin: 0 15px 0 0 ;

}
a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    
}

a:hover{
    color: rgb(245, 174, 81);
    text-decoration: underline;
}

.caja-contenido{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1% 1% 1% 1%;
}

.caja-contenido1{
    width: 50%;
    

}

.texto-lable{
    display: block;
    margin: 1% 1% 1% 1%;
}

.textoUsuario{
    display: block;
    margin: 1% 1% 1% 1%;
    width: 90%;
}

.mensaje-advertencia{
    margin: 0 0 0 1%;
    color: #253142;
    font-weight: 400;
    font-size: 0.8em;
}

.boton{
    margin: 1% 1% 1% 1%;
    display: inline-block;
    background-color: #162944;
    color: #fff;
    border-radius: 0.5em;
    padding: 0.3em 0.3em;
    cursor: pointer;
}

.boton:hover{
    transform: scale(1.2);
    color: orange;
}


.caja-contenido2{
    width: 50%;
    margin: 1% 1% 0 0;
    padding: 1% 1% 1% 1%;
    border-radius: 0.3em;
    text-align: center;
    box-shadow: 0.3em 0.3em 0.4em #162944;
}

.drawboy{
    max-width: 90%;
    height: 70%;


}

.text-informativo{
    max-width: 90%;
    max-height: 30%;
    margin: 1% 1% 1% 1%;
    padding: 1% 1% 1% 1%;
}

.titulo-informativo{
    margin: 1% 1% 1% 1%;
}

.p-informativo{
    margin: 2% 1% 1% 1%;
}